<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <script src="https://kit.fontawesome.com/02c80648f9.js" crossorigin="anonymous"></script>
  <title>Sobre Nosotros</title>
</head>
<body>
  <header>
    <div class="headboard">
      <div class="link-section">
        <nav class="ul-links">
            <a href="index.html">Home</a></li>
            <a href="./storeIndex.html">Tienda</a></li>
            <a href="aboutIndex.html">Nosotros</a></li>
            <a href="physicalStoreIndex.html">Puntos Físicos</a></li>
        </nav>
      </div>
      <div class="img-logo">
        <a class="logo" href="index.html"><img src="../../assets/Image/Logo_Circle.png" alt=""></a>
      </div>
    </div>
  </header>

  <main class="home-main">
    <section class="home-main_text">
      <h1>Nuestra historia</h1>
      <p>Lanzado en 2015, Exclusive es el principal lugar de creación de compras en línea del sur de Asia con una presencia 
        activa en Bangladesh. Con el respaldo de una amplia gama de soluciones personalizadas de marketing, datos y servicios, 
      </br> </br>Exclusive tiene 10 500 vendedores y 300 marcas y atiende a 3 millones de clientes en toda la región.
        Exclusive tiene más de 1 millón de productos para ofrecer, creciendo a un ritmo muy rápido. Exclusive ofrece
        una variedad diversa en categorías que van desde el consumidor.</p>
    </section>

    <section class="home-main_img">
      <img src="../../assets/Image/nosotros.png" alt="">
    </section>

    <section class="home-main_img-ventas">
      <img src="../../assets/Image/ventasNosotros.png" alt="">
    </section>
  </main>

  <div class="contacto">
    <p class="promocion-text">ÚNASE A LA COMUNIDAD DE COMPRAS PARA OBTENER BENEFICIOS EN PUNTO MOTERO</p>
    <p class="solicitud-text">Estamos encantados de ayudarte en tu búsqueda de productos. Por favor, déjanos tu correo electrónico a continuación y bríndanos detalles sobre tu solicitud. Nos aseguraremos de atenderte de la mejor manera posible. </p>
    <p class="solicitud-text">¡Gracias por elegirnos!</p>
    <br>
    <div class="form-section">
      <form class="formulario-solicitud">
        <input type="email" placeholder="Agrega tu correo">
        <textarea class="block" name="textarea" id="" cols="10" rows="3"
        placeholder="Escribe tu mensaje"></textarea>
        <br>
        <input type="submit" value="ENVIAR">
      </form>
    </div>
  </div>

  <footer>
    <div class="redes-sociales">
      <div>
        <h3>Punto Motero</h3>
      </div>
      <div>
        <ul>
          <a href="https://www.facebook.com/PuntoMoteroMadrid/"><i class="fa-brands fa-facebook-f fa-2x" style="color: #000000;"></i></a>
          <a href="https://www.instagram.com/puntomotero/"><i class="fa-brands fa-instagram fa-2x" style="color: #000000;"></i></a>
        </ul>
      </div>
    </div>

    <div class="compañia">
      <h4>Compañia</h4>
      <a class="enlace-secciones" href="aboutIndex.html">
        <p>Nosotros</p>
      </a>
    </div>

    <div class="enlace-rapido">
      <h4>Enlace rápido</h4>
      <a class="enlace-secciones" href="storeIndex.html">
        <p>Tienda</p>
      </a>
    </div>
  </footer>
</body>
</html>