<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <script src="https://kit.fontawesome.com/02c80648f9.js" crossorigin="anonymous"></script>
  <title>Sobre Nosotros</title>
</head>
<body>
  <header>
    <div class="headboard">
      <div class="link-section">
        <nav class="ul-links">
            <a href="../../../../index.html">Home</a></li>
            <a href="./storeIndex.html">Tienda</a></li>
            <a href="aboutIndex.html">Nosotros</a></li>
            <a href="physicalStoreIndex.html">Puntos Físicos</a></li>
        </nav>
      </div>
      <div class="img-logo">
        <a class="logo" href="../../../../index.html"><img src="../../assets/Image/Logo_Circle.png" alt=""></a>
      </div>
    </div>
  </header>

  <main class="home-main">
    <section class="home-main_text">
      <h1>¿Quiénes Somos?</h1>
      <p>
        Punto Motero es un negocio especializado ubicado en Madrid, Cundinamarca, que ofrece una amplia gama de servicios para motocicletas. Con más de 10 años de experiencia en el sector de las motocicletas, Punto Motero se ha convertido en un referente en la zona para los amantes de las motos.
      </p>
      <br>
      <p>
        Uno de los principales servicios que ofrece Punto Motero es el lavado de motocicletas. Con técnicas y productos especializados, el equipo de Punto Motero se encarga de dejar cada moto impecable, cuidando cada detalle y garantizando resultados de alta calidad. Además, ofrecen diferentes opciones de lavado, desde lavados básicos hasta lavados premium que incluyen pulido y encerado, para adaptarse a las necesidades y preferencias de cada cliente.
      </p>
      <br>
      <p>
        Punto Motero también cuenta con un taller de mecánica especializado en motocicletas, con un equipo de mecánicos altamente capacitados y con amplia experiencia en la reparación y mantenimiento de motos de diversas marcas y modelos. Desde mantenimientos periódicos hasta reparaciones de averías y modificaciones personalizadas, Punto Motero ofrece servicios completos y confiables para mantener las motocicletas en óptimas condiciones de funcionamiento.
      </p>
      <br>
      <p>
        Además de los servicios de lavado y mecánica, Punto Motero también es reconocido por su amplia selección de lujos y accesorios para motocicletas. Desde piezas de repuesto y accesorios de alta calidad hasta productos de estilismo y personalización, Punto Motero ofrece una amplia gama de opciones para que los amantes de las motos encuentren todo lo que necesitan para personalizar y mejorar su moto.
      </p>
      <br>
      <p>
        Con un enfoque en la calidad del servicio al cliente, Punto Motero se destaca por su atención personalizada y su compromiso con la satisfacción del cliente. El equipo de Punto Motero se dedica a entender las necesidades y preferencias de cada cliente, brindando asesoramiento experto y soluciones a medida para cada moto.
      </p>
    </section>

    <section class="home-main_img">
      <img src="../../assets/Image/nosotros.png" alt="">
    </section>

    <!--<section class="home-main_img-ventas">
      <img src="../../assets/Image/ventasNosotros.png" alt="">
    </section>-->
  </main>

  <div class="contacto">
    <p class="promocion-text">ÚNASE A LA COMUNIDAD DE COMPRAS PARA OBTENER BENEFICIOS EN PUNTO MOTERO</p>
    <p class="solicitud-text">Estamos encantados de ayudarte en tu búsqueda de productos. Por favor, déjanos tu correo electrónico a continuación y bríndanos detalles sobre tu solicitud. Nos aseguraremos de atenderte de la mejor manera posible. </p>
    <p class="solicitud-text">¡Gracias por elegirnos!</p>
    <br>
    <div class="form-section">
      <form class="formulario-solicitud" 
      action="https://formspree.io/f/xpzekyqq"
      method="POST">
        <input type="email" name="Email" placeholder="Agrega tu correo">
        <textarea class="block" name="Mensaje" id="" cols="10" rows="3"
        placeholder="Escribe tu mensaje"></textarea>
        <br>
        <input class="button" type="submit" value="ENVIAR">
      </form>
    </div>
  </div>

  <div id="alert"></div>

  <footer>
    <div class="redes-sociales">
      <div>
        <h3>Punto Motero</h3>
      </div>
      <div>
        <ul>
          <a href="https://www.facebook.com/PuntoMoteroMadrid/"><i class="fa-brands fa-facebook-f fa-2x" style="color: #000000;"></i></a>
          <a href="https://www.instagram.com/puntomotero/"><i class="fa-brands fa-instagram fa-2x" style="color: #000000;"></i></a>
        </ul>
      </div>
    </div>

    <div class="compañia">
      <h4>Compañia</h4>
      <a class="enlace-secciones" href="aboutIndex.html">
        <p>Nosotros</p>
      </a>
    </div>

    <div class="enlace-rapido">
      <h4>Enlace rápido</h4>
      <a class="enlace-secciones" href="storeIndex.html">
        <p>Tienda</p>
      </a>
    </div>
  </footer>

  <script src="../../assets/js/contacts.js"></script>

</body>
</html>