<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu Principal</title>
</head>
<body>
  
  <header>
    <a href=""><img src="" alt=""></a>
    <nav>
      <ul>
        <div>
          <li></li><a href="../Main/index.html">Home</a></li>
          <li></li><a href="../Store/storeIndex.html">Tienda</a></li>
          <li></li><a href="../About/aboutIndex.html">Nosotros</a></li>
          <li></li><a href="../PhysicalStore/physicalStoreIndex.html">Puntos Físicos</a></li>
        </div>
      </ul>

    </nav>
  </header>

</body>
</html>