<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://kit.fontawesome.com/02c80648f9.js" crossorigin="anonymous"></script>
  <title>Menu Principal</title>
</head>

<body>
  <header>
    <div class="headboard">
      <div class="link-section">
        <nav>
          <ul class="ul-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="./storeIndex.html">Tienda</a></li>
            <li><a href="aboutIndex.html">Nosotros</a></li>
            <li><a href="physicalStoreIndex.html">Puntos Físicos</a></li>
          </ul>
        </nav>
      </div>
      <div class="img-logo">
        <a class="logo" href=""><img src="../../assets/Image/Logo_Circle.png" alt=""></a>
      </div>
    </div>

    <div class="text-header">
      <p>Equípate</p>
      <p>para la</p>
      <p>aventura en</p>
      <p>dos ruedas</p>
      <!--<p>Equípate para la aventura en dos ruedas</p>-->
      <a href="../Store/storeIndex.html"><button>Ver Productos</button></a>
    </div>
  </header>

  <section class="logos-marcas">
    <img src="../../assets/Image/yamaha.png" alt="">
    <img src="../../assets/Image/Honda.png" alt="">
    <img src="../../assets/Image/suzuki.png" alt="">
    <img src="../../assets/Image/ducati.png" alt="">
    <img src="../../assets/Image/ktm.png" alt="">
  </section>

  <article class="article-favoritos">
    <h3>Los favoritos de todos</h3>
    <div class="section-favortios">
      <section>
        <img src="../../assets/Image/Accesorios.jpg" alt="">
        <div class="accesorio-text">
          <div>
            <h4>Accesorios</h4>
            <p>¡Explora lo nuevo!</p>
          </div>
          <div class="arrow">
            <a href="../Store/storeIndex.html">
              <i class="fa-solid fa-arrow-right fa-3x" style="color: #ffffff;"></i>
            </a>
          </div>
        </div>
      </section>
      <section>
        <img src="../../assets/Image/Accesorios.jpg" alt="">
        <div class="accesorio-text">
          <div>
            <h4>Accesorios</h4>
            <p>¡Explora lo nuevo!</p>
          </div>
          <div class="arrow">
            <a href="../Store/storeIndex.html">
              <i class="fa-solid fa-arrow-right fa-3x" style="color: #ffffff;"></i>
            </a>
          </div>
        </div>
      </section>
      <section>
        <img src="../../assets/Image/Accesorios.jpg" alt="">
        <div class="accesorio-text">
          <div>
            <h4>Accesorios</h4>
            <p>¡Explora lo nuevo!</p>
          </div>
          <div class="arrow">
            <a href="../Store/storeIndex.html">
              <i class="fa-solid fa-arrow-right fa-3x" style="color: #ffffff;"></i>
            </a>
          </div>
        </div>
      </section>
      <section>
        <img src="../../assets/Image/Accesorios.jpg" alt="">
        <div class="accesorio-text">
          <div>
            <h4>Accesorios</h4>
            <p>¡Explora lo nuevo!</p>
          </div>
          <div class="arrow">
            <a href="../Store/storeIndex.html">
              <i class="fa-solid fa-arrow-right fa-3x" style="color: #ffffff;"></i>
            </a>
          </div>
        </div>
      </section>



    </div>
  </article>


  <div class="contacto">
    <p class="promocion-text">ÚNASE A LA COMUNIDAD DE COMPRAS PARA OBTENER BENEFICIOS EN PUNTO MOTERO</p>
    <p class="solicitud-text">Estamos encantados de ayudarte en tu búsqueda de productos. Por favor, déjanos tu correo electrónico a continuación y bríndanos detalles sobre tu solicitud. Nos aseguraremos de atenderte de la mejor manera posible. </p>
    <p class="solicitud-text">¡Gracias por elegirnos!</p>
    <br>
    <div class="form-section">
      <form class="formulario-solicitud">
        <input type="email" placeholder="Agrega tu correo">
        <textarea class="block" name="textarea" id="" cols="20" rows="5"
        placeholder="Escribe tu mensaje"></textarea>
        <br>
        <input type="submit" value="ENVIAR">
      </form>
    </div>
  </div>

  <footer>
    <div class="redes-sociales">
      <div>
        <h3>Punto Motero</h3>
      </div>
      <div>
        <ul>
          <a href=""><i class="fa-brands fa-facebook-f fa-2x" style="color: #000000;"></i></a>
          <a href=""><i class="fa-brands fa-instagram fa-2x" style="color: #000000;"></i></a>
        </ul>
      </div>
    </div>

    <div class="compañia">
      <h4>Compañia</h4>
      <a class="enlace-secciones" href="../About/aboutIndex.html">
        <p>Nosotros</p>
      </a>
    </div>

    <div class="enlace-rapido">
      <h4>Enlace rápido</h4>
      <a class="enlace-secciones" href="../Store/storeIndex.html">
        <p>Tienda</p>
      </a>
    </div>
  </footer>

</body>

</html>