<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <script src="https://kit.fontawesome.com/02c80648f9.js" crossorigin="anonymous"></script>
  <title>Tienda Física</title>
</head>
<body>
  <header>
    <div class="headboard">
      <div class="link-section">
        <nav class="ul-links">
            <a href="index.html">Home</a></li>
            <a href="./storeIndex.html">Tienda</a></li>
            <a href="aboutIndex.html">Nosotros</a></li>
            <a href="physicalStoreIndex.html">Puntos Físicos</a></li>
        </nav>
      </div>
      <div class="img-logo">
        <a class="logo" href="index.html"><img src="../../assets/Image/Logo_Circle.png" alt=""></a>
      </div>
    </div>
  </header> 

  <main class="mainTiedaFisica">
    <section class="mainTiedaFisica_textt">
      <div class="seccion_tutulo">
        <h1> Puntos Fisicos </h1>
        <p>Exclusive tiene más de 1 millón de productos para ofrecer, 
          creciendo a un ritmo muy rápido. Exclusive ofrece una variedad 
          diversa en categorías que van desde el consumidor.</p>
      </div>

      <div class="seccion_img-TiedaFisica">
        <img src="../../assets/Image/nosotros.png" alt="">
      </div>

      <div class="seccionContacto">
        <div>
          <img src="../../assets/Image/Location.png" alt="">
          <div class="seccionContacto_telefono">
            <p>Calle 7#14-119</p>
            <p>Funza, Cundinamarca</p>
          </div>
        </div>

        <div>
          <img src="../../assets/Image/Phone.png" alt="">
          <div class="seccionContacto_telefono">
            <p>(+57) 3045912620</p>
            <p>Funza, Cundinamarca</p>
          </div>
        </div>
      </div>
    </section>

    <section class="mainTiedaFisica_fotos">
      <div class="fotoVentas">
        <img src="../../assets/Image/fotosPuntoFisico.png" alt="">
      </div>

      <div class="serviciosGenerales">
        <div>
          <img src="../../assets/Image/Services.png" alt="">
          <div class="seccionContacto_telefono">
            <h2>24/7 Servicio al cliente</h2>
            <p>Todos los dias 24/7 soporte de tus compras</p>
          </div>
        </div>

        <div>
          <img src="../../assets/Image/Check.png" alt="">
          <div class="seccionContacto_telefono">
            <h2>Productos garantizados</h2>
            <p>Grantia de mas 90 dias</p>
          </div>
        </div>
      </div>
      </div>
    </section>
  </main>

  <div class="contacto">
    <p class="promocion-text">ÚNASE A LA COMUNIDAD DE COMPRAS PARA OBTENER BENEFICIOS EN PUNTO MOTERO</p>
    <p class="solicitud-text">Estamos encantados de ayudarte en tu búsqueda de productos. Por favor, déjanos tu correo electrónico a continuación y bríndanos detalles sobre tu solicitud. Nos aseguraremos de atenderte de la mejor manera posible. </p>
    <p class="solicitud-text">¡Gracias por elegirnos!</p>
    <br>
    <div class="form-section">
      <form class="formulario-solicitud">
        <input type="email" placeholder="Agrega tu correo">
        <textarea class="block" name="textarea" id="" cols="10" rows="3"
        placeholder="Escribe tu mensaje"></textarea>
        <br>
        <input type="submit" value="ENVIAR">
      </form>
    </div>
  </div>

  <footer>
    <div class="redes-sociales">
      <div>
        <h3>Punto Motero</h3>
      </div>
      <div>
        <ul>
          <a href="https://www.facebook.com/PuntoMoteroMadrid/"><i class="fa-brands fa-facebook-f fa-2x" style="color: #000000;"></i></a>
          <a href="https://www.instagram.com/puntomotero/"><i class="fa-brands fa-instagram fa-2x" style="color: #000000;"></i></a>
        </ul>
      </div>
    </div>

    <div class="compañia">
      <h4>Compañia</h4>
      <a class="enlace-secciones" href="aboutIndex.html">
        <p>Nosotros</p>
      </a>
    </div>

    <div class="enlace-rapido">
      <h4>Enlace rápido</h4>
      <a class="enlace-secciones" href="storeIndex.html">
        <p>Tienda</p>
      </a>
    </div>
  </footer>
  
</body>
</html>