<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://kit.fontawesome.com/02c80648f9.js" crossorigin="anonymous"></script>
  <title>Tienda</title>
</head>

<body class="body-store_styles">
  <header>
    <div class="headboard">
      <div class="link-section">
        <nav class="ul-links">
          <a href="index.html">Home</a></li>
          <a href="./storeIndex.html">Tienda</a></li>
          <a href="aboutIndex.html">Nosotros</a></li>
          <a href="physicalStoreIndex.html">Puntos Físicos</a></li>
        </nav>
      </div>
      <div class="img-logo">
        <a class="logo" href="index.html"><img src="../../assets/Image/Logo_Circle.png" alt=""></a>
      </div>
    </div>
  </header>

  <div class="category-title">
    <div class="retangle"></div>
    <h4>Categorías</h4>
  </div>

  <div class="menu-products_container">
    <div class="scrolling-button_container">
      <button class="scrolling-button" id="scrolling-button_left"><i class="fa-solid fa-arrow-left"
          style="color: #ffffff;"></i></button>
    </div>
    <div class="scrolling-container" >
      <div class="scrolling-card" data-categoria="Guantes">
        <a href=""><img src="../../assets/Image/ImageStore/guantes.png" alt="">
          <h4>Guantes</h4>
        </a>
      </div>
      <div class="scrolling-card" data-categoria="Calcomanías">
        <a href=""><img src="../../assets/Image/ImageStore/Calcomanias.png" alt="">
          <h4>Calcomanías</h4>
        </a>
      </div>
      <div class="scrolling-card" data-categoria="Pijamas">
        <a href=""><img src="../../assets/Image/ImageStore/Pijamas.png" alt="">
          <h4>Pijamas</h4>
        </a>
      </div>
      <div class="scrolling-card" data-categoria="Impermeables">
        <a href=""><img src="../../assets/Image/ImageStore/Impermeables.png" alt="">
          <h4>Impermeables</h4>
        </a>
      </div>
      <div class="scrolling-card" data-categoria="Defensas">
        <a href=""><img src="../../assets/Image/ImageStore/Defensas.png" alt="">
          <h4>Defensas</h4>
        </a>
      </div>
      <div class="scrolling-card" data-categoria="Maletas y Maleteros">
        <a href=""><img src="../../assets/Image/ImageStore/Maletas.png" alt="">
          <h4>Maletas y Maleteros</h4>
        </a>
      </div>
      <div class="scrolling-card" data-categoria="Dotación">
        <a href=""><img src="../../assets/Image/ImageStore/Dotacion.png" alt="">
          <h4>Dotación</h4>
        </a>
      </div>
      <div class="scrolling-card" data-categoria="Repuestos">
        <a href=""><img src="../../assets/Image/ImageStore/Repuestos.png" alt="">
          <h4>Repuestos</h4>
        </a>
      </div>
      <div class="scrolling-card" data-categoria="Parrillas">
        <a href=""><img src="../../assets/Image/ImageStore/Parrillas.png" alt="">
          <h4>Parrillas</h4>
        </a>
      </div>
      <div class="scrolling-card" data-categoria="Llantas">
        <a href=""><img src="../../assets/Image/ImageStore/Llantas.png" alt="">
          <h4>Llantas</h4>
        </a>
      </div>
      <div class="scrolling-card" data-categoria="Accesorios">
        <a href=""><img src="../../assets/Image/ImageStore/Accesorios.png" alt="">
          <h4>Accesorios</h4>
        </a>
      </div>
      <div class="scrolling-card" data-categoria="Luces">
        <a href=""><img src="../../assets/Image/ImageStore/Luces.png" alt="">
          <h4>Luces</h4>
        </a>
      </div>
      <div class="scrolling-card" data-categoria="Accesorios Cascos">
        <a href=""><img src="../../assets/Image/ImageStore/AseCascos.png" alt="">
          <h4>Accesorios Cascos</h4>
        </a>
      </div>
      <div class="scrolling-card" data-categoria="Lubricante">
        <a href=""><img src="../../assets/Image/ImageStore/Lubricante.png" alt="">
          <h4>Lubricante</h4>
        </a>
      </div>
      <div class="scrolling-card" data-categoria="Tacómetro">
        <a href=""><img src="../../assets/Image/ImageStore/Tacometros.png" alt="">
          <h4>Tacómetro</h4>
        </a>
      </div>
      <div class="scrolling-card" data-categoria="Eléctricos">
        <a href=""><img src="../../assets/Image/ImageStore/Electricos.png" alt="">
          <h4>Eléctricos</h4>
        </a>
      </div>
      <div class="scrolling-card" data-categoria="Chaquetas">
        <a href=""><img src="../../assets/Image/ImageStore/Chaquetas.png" alt="">
          <h4>Chaquetas</h4>
        </a>
      </div>
      <div class="scrolling-card" data-categoria="Cascos">
        <a href=""><img src="../../assets/Image/ImageStore/Cascos.png" alt="">
          <h4>Cascos</h4>
        </a>
      </div>
      <div class="scrolling-card" data-categoria="Visores">
        <a href=""><img src="../../assets/Image/ImageStore/Visores.png" alt="">
          <h4>Visores</h4>
        </a>
      </div>
      <div class="scrolling-card" data-categoria="Sistema de Cascos">
        <a href="">
          <img src="../../assets/Image/ImageStore/SistCasco.png" alt="">
          <h4>Sistema de Cascos</h4>
        </a>
      </div>
    </div>

    <div class="scrolling-button_container">
      <button class="scrolling-button" id="scrolling-button_right"><i
          class="fa-solid fa-arrow-right" style="color: #ffffff;"></i></button>
    </div>
  </div>

  <section class="guantes-section_styles" id="productos">
    <!--<div class="product-container" id="div-product"></div>-->
  </section>
  <!--<section class="guantes-section_styles" id="productos">
    <h2>Guantes</h2>
    <div class="product-container">
      <article class="article-product">
        <img src="../../assets/Image/Guantes/imagen 1.png" alt="">
        <div class="product-description">
          <h4>Guantes Alpinistars Cooper</h4>
          <p class="description-product">
            Este guante, incorpora una protección dura y resistente en
            los nudillos y una palma de gamuza sintética completa para lograr altos niveles de durabilidad.
          <p>
          <p class="cost-product">$45.000</p>
        </div>
      </article>

      <article class="article-product">
        <img src="../../assets/Image/Guantes/imagen 2.png" alt="">
        <div class="product-description">
          <h4>Guantes Medio Dedo</h4>
          <p class="description-product">
            Guante con diseño moderno, hecho en maya, contextura gruesa 
para proteger la mano y dar un mejor confort que puede asegurar una asepsia saludable.
          </p>
          <p class="cost-product">$45.000</p>
        </div>
      </article>

      <article class="article-product">
        <img src="../../assets/Image/Guantes/imagen 3.png" alt="">
        <div class="product-description">
          <h4>Guantes City</h4>
          <p class="description-product">Guantes con protección en los nudillos, fabricados con un material tactil, 
            suave y con elementos refractantes.</p>
          <p class="cost-product">$45.000</p>
        </div>
      </article>
    </div>

    <div class="product-container">
      <article class="article-product">
        <img src="../../assets/Image/Guantes/imagen 4.png" alt="">
        <div class="product-description">
          <h4>Guantes Maranthan de Cuero</h4>
          <p class="description-product">Guantes fabricados con cuero cien por ciento nacional, forraje interno de algodon el cual provee protección termica, tactil y brinda bastante comodidad.</p>
          <p class="cost-product">$45.000</p>
        </div>
      </article>

      <article class="article-product">
        <img src="../../assets/Image/Guantes/imagen 5.png" alt="">
        <div class="product-description">
          <h4>Guantes Maranthan de Cuero</h4>
          <p class="description-product">Su fabricación en cuero garantiza protección en los nudillos y los antebrazos brindando protección termica, protección en las manos y dedos.
          </p>
          <p class="cost-product">$45.000</p>
        </div>
      </article>

      <article class="article-product">
        <img src="../../assets/Image/Guantes/imagen 6.png" alt="">
        <div class="product-description">
          <h4>Guantes Impermeables Madbike</h4>
          <p class="description-product">Cuenta con una protección dura en los nudillos, dorso y la mano junto con un forrado que brinda sensación de calidez y confort en ambientes humedos.
          </p>
          <p class="cost-product">$45.000</p>
        </div>
      </article>
    </div>

    <div class="product-container">
      <article class="article-product">
        <img src="../../assets/Image/Guantes/imagen 7.png" alt="">
        <div class="product-description">
          <h4>Guantes Over AX 100</h4>
          <p class="description-product">EGuante de protección fabricado con un material de velcro fuerte y policarbonato forrado.</p>
          <p class="cost-product">$45.000</p>
        </div>
      </article>

      <article class="article-product">
        <img src="../../assets/Image/Guantes/imagen 8.png" alt="">
        <div class="product-description">
          <h4>Guantes Over</h4>
          <p class="description-product">Fabricado hilado de nylon, lona antifricción y forrado de poliester suave para las rutas cotidianas del motocicliasta del dia a dia. 
          </p>
          <p class="cost-product">$45.000</p>
        </div>
      </article>

      <article class="article-product">
        <img src="../../assets/Image/Guantes/imagen 9.png" alt="">
        <div class="product-description">
          <h4>Guantes Fox</h4>
          <p class="description-product">Guantes con fabricación flexible hechos para el alto rendimiento del jinete, con un agarre comodo y versatil.  
          </p>
          <p class="cost-product">$45.000</p>
        </div>
      </article>
    </div>

  </section>-->

  <div class="contacto">
    <p class="promocion-text">ÚNASE A LA COMUNIDAD DE COMPRAS PARA OBTENER BENEFICIOS EN PUNTO MOTERO</p>
    <p class="solicitud-text">Estamos encantados de ayudarte en tu búsqueda de productos. Por favor, déjanos tu correo electrónico a continuación y bríndanos detalles sobre tu solicitud. Nos aseguraremos de atenderte de la mejor manera posible. </p>
    <p class="solicitud-text">¡Gracias por elegirnos!</p>
    <br>
    <div class="form-section">
      <form class="formulario-solicitud" 
      action="https://formspree.io/f/xpzekyqq"
      method="POST">
        <input type="email" name="Email" placeholder="Agrega tu correo">
        <textarea class="block" name="Mensaje" id="" cols="10" rows="3"
        placeholder="Escribe tu mensaje"></textarea>
        <br>
        <input class="button" type="submit" value="ENVIAR">
      </form>
    </div>
  </div>

  <div id="alert"></div>

  <footer>
    <div class="redes-sociales">
      <div>
        <h3>Punto Motero</h3>
      </div>
      <div>
        <ul>
          <a href="https://www.facebook.com/PuntoMoteroMadrid/"><i
              class="fa-brands fa-facebook-f fa-2x" style="color: #000000;"></i></a>
          <a href="https://www.instagram.com/puntomotero/"><i class="fa-brands fa-instagram fa-2x"
              style="color: #000000;"></i></a>
        </ul>
      </div>
    </div>

    <div class="compañia">
      <h4>Compañia</h4>
      <a class="enlace-secciones" href="aboutIndex.html">
        <p>Nosotros</p>
      </a>
    </div>

    <div class="enlace-rapido">
      <h4>Enlace rápido</h4>
      <a class="enlace-secciones" href="storeIndex.html">
        <p>Tienda</p>
      </a>
    </div>
  </footer>

  <!--<script src="../../assets/js/scrollBehavior.js"></script>-->
  <script src="../../assets/js/contacts.js"></script>

</body>

</html>