@charset "UTF-8";
/*Globales*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

header {
  background-color: #282929;
}
header .headboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 0 25px;
  width: 100%;
  flex-wrap: wrap;
}
header .headboard .link-section .ul-links {
  display: flex;
  justify-content: space-between;
  margin: 35px;
}
header .headboard .link-section .ul-links a {
  font-family: "Inter", "Arial Narrow Bold", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
}
header .headboard .img-logo {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px;
}
header .headboard .logo {
  cursor: pointer;
}
header .headboard .logo > img {
  width: 80px;
}
header .text-header {
  background-image: url(../../assets/Image/Banner.png);
  background-size: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 0 70px;
}
header .text-header p {
  text-align: start;
  left: 0;
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  font-size: 77px;
  color: #ffffff;
}
header .text-header a {
  padding: 25px 0;
}
header .text-header a button {
  left: 0;
  font-family: "Inter", "Arial Narrow Bold", sans-serif;
  font-size: 24px;
  background-color: #1faca2;
  color: #ffffff;
  border-radius: 15px;
  padding: 20px 70px;
  cursor: pointer;
  border: none;
}

.logos-marcas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  padding: 0px 70px;
  width: 100%;
  gap: 10px;
}
.logos-marcas img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 25%;
}

.article-favoritos {
  background-color: #1faca2;
  padding: 50px 70px;
}
.article-favoritos h3 {
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  font-size: 48px;
  padding: 25px 0;
}
.article-favoritos .section-favortios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.article-favoritos .section-favortios section {
  padding: 20px;
}
.article-favoritos .section-favortios section img {
  width: 100%;
  border-radius: 15px;
}
.article-favoritos .section-favortios section .accesorio-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.article-favoritos .section-favortios section .accesorio-text h4 {
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  font-size: 32px;
  font-weight: 500;
}
.article-favoritos .section-favortios section .accesorio-text p {
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}
.article-favoritos .section-favortios section .accesorio-text .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-favoritos .section-favortios section .accesorio-text .arrow a {
  cursor: pointer;
}

/*Styles Pagina Home*/
.contacto {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
}
.contacto .promocion-text {
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  padding: 25px 0;
}
.contacto .solicitud-text {
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  padding: 10px;
}
.contacto .form-section {
  padding: 25px 0;
  width: 50%;
}
.contacto .form-section .formulario-solicitud {
  background-color: #000000;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  flex-wrap: wrap;
}
.contacto .form-section .formulario-solicitud input[type=email], .contacto .form-section .formulario-solicitud textarea {
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  background: none;
  border-radius: 5px;
  border: none;
  padding: 15px 0 10px 10px;
  width: 100%;
  outline: none;
  border-bottom: 1px solid #838383;
  color: #ffffff;
  flex-wrap: wrap;
  resize: none;
}
.contacto .form-section .formulario-solicitud input[type=submit] {
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  font-size: 22px;
  border-radius: 5px;
  border: none;
  margin: 15px 0;
  padding: 10px 20px;
  flex-wrap: wrap;
  cursor: pointer;
}

/*Styles de Pagina Tienda*/
.body-store_styles {
  background: rgb(40, 41, 41);
  background: radial-gradient(circle, rgb(40, 41, 41) 0%, rgb(38, 39, 39) 100%);
}

.category-title {
  display: flex;
  flex-direction: row;
  margin: 30px 90px;
}
.category-title .retangle {
  background-color: #db4444;
  padding: 5px 15px;
  border-radius: 5px;
}
.category-title h4 {
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  color: #db4444;
  padding: 10px 15px;
}

.scrolling-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.scrolling-card {
  flex: 0 0 auto;
  border: solid 1px #48494b;
  border-width: 3px;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
}
.scrolling-card h4 {
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  font-size: 18px;
  padding: 0 0 15px 0;
  font-weight: normal;
  color: #ffffff;
}

.scrolling-container::-webkit-scrollbar {
  display: none;
}

.scrolling-button_container {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

.menu-products_container {
  display: flex;
  flex-direction: rowI;
}
.menu-products_container .scrolling-button {
  border: none;
  opacity: 1;
  background-color: #db4444;
  padding: 0 15px;
  border-radius: 5px;
  cursor: pointer;
}
.menu-products_container #scrolling-button_right {
  margin-right: 80px;
}
.menu-products_container #scrolling-button_left {
  margin-left: 80px;
}

.guantes-section_styles {
  margin: 25px 80px;
}
.guantes-section_styles h2 {
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  font-weight: 100;
  color: #ffffff;
}
.guantes-section_styles .product-container {
  display: flex;
  gap: 20px;
}
.guantes-section_styles .product-container .article-product {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.guantes-section_styles .product-container .article-product img {
  width: 100%;
}
.guantes-section_styles .product-container .article-product .product-description {
  display: flex;
  flex-direction: column;
  margin: 40px 30px;
  padding: 10px;
}
.guantes-section_styles .product-container .article-product .product-description h4 {
  font-size: 20px;
}
.guantes-section_styles .product-container .article-product .product-description .description-product {
  font-family: "Inter", "Arial Narrow Bold", sans-serif;
  color: #48494b;
  letter-spacing: 1px;
  padding: 10px 0;
}
.guantes-section_styles .product-container .article-product .product-description .cost-product {
  font-size: 25px;
  color: #000000;
  letter-spacing: 1px;
  padding: 10px 0 0 0;
}

/*Styles de pagna Puntos Fisicos*/
.mainTiedaFisica {
  background-color: #282929;
  color: #ffffff;
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
}
.mainTiedaFisica_textt {
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  place-items: center;
}
.mainTiedaFisica_textt .seccion_tutulo {
  font-size: 20px;
  padding: 100px;
}
.mainTiedaFisica_textt .seccion_tutulo h1 {
  font-size: 50px;
  padding-bottom: 15px;
}
.mainTiedaFisica_textt .seccion_img-TiedaFisica {
  grid-area: 1/2/3/3;
}
.mainTiedaFisica_textt .seccionContacto {
  display: flex;
  gap: 30px;
  text-align: center;
  font-size: 18px;
}
.mainTiedaFisica_textt .seccionContacto img {
  align-items: center;
}
.mainTiedaFisica_fotos {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 30px;
  place-items: center;
  text-align: center;
  padding-bottom: 35px;
}
.mainTiedaFisica_fotos .serviciosGenerales {
  display: flex;
  gap: 100px;
  text-align: center;
}
.mainTiedaFisica_fotos .serviciosGenerales h2 {
  font-size: 18px;
}
.mainTiedaFisica_fotos .serviciosGenerales p {
  font-size: 14px;
}
.mainTiedaFisica_fotos .serviciosGenerales .seccionContacto_telefono :nth-child(2) {
  font-weight: 100;
}

/*Styles de Pagina Aabout*/
.home-main {
  background-color: #282929;
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  place-items: center;
  color: #ffffff;
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  place-self: center;
}
.home-main_text {
  grid-area: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 50px;
  font-size: 20px;
}
.home-main_text h1 {
  font-size: 50px;
  padding-bottom: 15px;
}
.home-main_img img {
  grid-area: 1/2;
  width: 450px;
}
.home-main_img-ventas {
  grid-area: 2/1/3/3;
  place-self: center;
}

footer {
  margin-top: 20px;
  background-color: #000000;
  overflow: hidden;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer .redes-sociales {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}
footer .redes-sociales h3 {
  color: #ffffff;
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  font-size: 40px;
}
footer .redes-sociales ul i {
  margin: 0 10px;
  padding: 10px;
  background-color: #ebd96b;
  border-radius: 10px;
}
footer .compañia, footer .enlace-rapido {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  font-family: "Roboto", "Arial Narrow Bold", sans-serif;
  font-size: 24px;
}
footer .compañia h4, footer .enlace-rapido h4 {
  color: #ffffff;
}
footer .compañia .enlace-secciones, footer .enlace-rapido .enlace-secciones {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
}
footer .compañia .enlace-secciones p, footer .enlace-rapido .enlace-secciones p {
  color: #48494b;
}
footer .footer-copyright {
  background-color: #50555d;
  font-family: "Merriweather", sans-serif;
  font-size: 12px;
  width: 100%;
  color: #fafbfd;
  display: flex;
  justify-content: center;
  padding: 15px;
}/*# sourceMappingURL=styles.css.map */