@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$darkColor: #000000;
$whiteColor: #ffffff;
$grayColor: #48494b;
$greeColor: #1faca2;
$yellowColor: #ebd96b;
$typographyPoppins: 'Poppins', 'Arial Narrow Bold', sans-serif;
$typographyInter: 'Inter', 'Arial Narrow Bold', sans-serif;
$typographyRoboto: 'Roboto', 'Arial Narrow Bold', sans-serif;
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}
body{
  background: rgb(40,41,41);
  background: radial-gradient(circle, rgba(40,41,41,1) 0%, rgba(38,39,39,1) 100%);
}
header {
  .headboard {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 25px;
    width: 100%;
    flex-wrap: wrap;

    .link-section {
      display: flex;
      align-items: center;

      .ul-links {
        font-family: $typographyInter;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;

        li {
          a {
            text-decoration: none;
            color: $whiteColor;
            padding: 0 45px;
          }
        }
      }
    }

    .img-logo {
      display: flex;
      justify-content: end;
      align-items: center;
      padding: 20px;
    }

    .logo {
      cursor: pointer;
    }

    .logo>img {
      width: 150px;
    }
  }
}
footer{
  margin-top: 20px;
  background-color: $darkColor;
  overflow: hidden;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .redes-sociales{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    h3{
      color: $whiteColor;
      font-family: $typographyPoppins;
      font-size: 40px;
    }
    ul{
      i{
        margin: 0 10px;
        padding: 10px;
        background-color: #ebd96b;
        border-radius: 10px;
      }
    }
  }
  .compañia , .enlace-rapido{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    padding: 0 20px;      
    font-family: $typographyRoboto;
    font-size: 24px;
    h4{
      color: $whiteColor;
    }
    .enlace-secciones{
      text-decoration: none;
      list-style: none;
      display: flex;
      justify-content: center;
      p{
        color: $grayColor;
      }
    }
  }
  
.footer-copyright {
  background-color: #50555d;
  font-family: 'Merriweather', sans-serif;
  font-size: 12px;
  width: 100%;
  color: #fafbfd;
  display: flex;
  justify-content: center;
  padding: 15px;
}
}